<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinysnow.system.mapper.BestAnswerMapper">
    <resultMap id="base" type="com.tinysnow.system.model.BestAnswer">
        <id property="questionId" column="question_id" jdbcType="BIGINT"/>
        <result property="bestAnswerId" column="best_answer_id" jdbcType="BIGINT"/><!-- 关联 comment 的 id -->
    </resultMap>

    <sql id="columns">
        select question_id, best_answer_id
        from best_answer
    </sql>

    <select id="find" resultMap="com.tinysnow.system.mapper.CommentMapper.withUser">
        SELECT c.*, u.*, p.*
        FROM best_answer b
                inner join comment c on c.id = b.best_answer_id
                inner join user u on c.author = u.id
                inner join point p on p.id = u.id
        where b.question_id = #{id}
    </select>

    <select id="findList" resultMap="base">
        <include refid="columns"/>
        where question_id = #{id}
    </select>

    <insert id="save" parameterType="com.tinysnow.system.model.BestAnswer">
        insert into best_answer (question_id, best_answer_id)
        values (#{questionId}, #{bestAnswerId})
    </insert>

    <update id="update" parameterType="com.tinysnow.system.model.BestAnswer">
        update best_answer
        set best_answer_id = #{bestAnswerId}
        where question_id = #{questionId}
    </update>

    <delete id="delete">
        delete
        from best_answer
        where question_id = #{id}
    </delete>
</mapper>