<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinysnow.system.mapper.QuestionMapper">
    <resultMap id="base" type="com.tinysnow.system.model.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="author" column="author" jdbcType="VARCHAR"/><!-- 作者，关联 user 的 id -->
        <result property="title" column="title" jdbcType="LONGVARCHAR"/><!-- 文章标题 -->
        <result property="content" column="content" jdbcType="LONGVARCHAR"/><!-- 文章内容 -->
        <result property="reward" column="reward" jdbcType="INTEGER"/><!-- 悬赏分数，标注最佳答案后进行事务性扣除 -->
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/><!-- 更新时间，若无更改可为空 -->
    </resultMap>

    <select id="find" resultMap="base">
        select *
        from question
        where id = #{id}
    </select>

    <select id="findList" resultMap="base">
        select *
        from question
        where id = #{id}
    </select>

    <select id="findAll" resultType="com.tinysnow.system.model.Question">
        select *
        from question
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.tinysnow.system.model.Question">
        insert into question (id, author, title, content, reward, created_time, updated_time)
        values (#{id}, #{author}, #{title}, #{content}, #{reward}, #{created_time}, #{updated_time})
    </insert>

    <update id="update" parameterType="com.tinysnow.system.model.Question">
        update question
        set where id = #{id}
    </update>

    <delete id="delete">
        delete
        from question
        where id = #{id}
    </delete>
</mapper>