<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinysnow.system.mapper.QuestionMapper">
    <resultMap id="base" type="com.tinysnow.system.model.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="author" column="author" jdbcType="VARCHAR"/><!-- 作者，关联 user 的 id -->
        <result property="title" column="title" jdbcType="LONGVARCHAR"/><!-- 文章标题 -->
        <result property="content" column="content" jdbcType="LONGVARCHAR"/><!-- 文章内容 -->
        <result property="reward" column="reward" jdbcType="INTEGER"/><!-- 悬赏分数，标注最佳答案后进行事务性扣除 -->
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/><!-- 更新时间，若无更改可为空 -->
    </resultMap>

    <sql id="columns">
        select id, author, title, content, reward, created_time, updated_time
        from question
    </sql>

    <select id="find" resultMap="base">
        <include refid="columns"/>
        where id = #{id}
    </select>

    <select id="findList" resultMap="base">
        <include refid="columns"/>
        where id = #{id}
    </select>

    <select id="findAll" resultMap="base">
        <include refid="columns"/>
    </select>
    <select id="findAuthor" resultMap="com.tinysnow.system.mapper.UserMapper.base">
        select u.*
        from question q
                 join user u on q.author = u.id
        where q.id = #{id}
    </select>
    <select id="findAllOfOneAuthor" resultMap="base">
        <include refid="columns"/>
        where author = #{id}
    </select>

    <insert useGeneratedKeys="true" keyProperty="id" id="save" parameterType="com.tinysnow.system.model.Question">
        insert into question (author, title, content, reward, created_time, updated_time)
        values (#{author}, #{title}, #{content}, #{reward}, #{createdTime}, #{updatedTime})
    </insert>

    <update id="update" parameterType="com.tinysnow.system.model.Question">
        update question
        set title        = #{title},
            content      = #{content},
            updated_time = NOW()
        where id = #{id}
    </update>

    <delete id="delete">
        delete
        from question
        where id = #{id}
    </delete>
</mapper>