<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinysnow.system.mapper.TagMapper">
    <resultMap id="base" type="com.tinysnow.system.model.Tag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="label" column="label" jdbcType="VARCHAR"/><!-- 标签名称 -->
    </resultMap>

    <select id="find" resultMap="base">
        select *
        from tag
        where id = #{id}
    </select>

    <select id="findList" resultMap="base">
        select *
        from tag
        where id = #{id}
    </select>
    <select id="findTagsByQuestionId" resultMap="base">
        select t.id, t.label
        from tag_question_relation r
                 left join tag t on r.tag_id = t.id
        where r.question_id = #{id}
    </select>

    <insert id="save" parameterType="com.tinysnow.system.model.Tag">
        insert into tag (id, label)
        values (#{id}, #{label})
    </insert>

    <update id="update" parameterType="com.tinysnow.system.model.Tag">
        update tag
        set where id = #{id}
    </update>

    <delete id="delete">
        delete
        from tag
        where id = #{id}
    </delete>
</mapper>