<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinysnow.system.mapper.TagMapper">
  <resultMap id="baseResultMap" type="com.tinysnow.system.model.Tag">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <result property="label" column="label" jdbcType="VARCHAR"/><!-- 标签名称 -->
  </resultMap>
</mapper>